*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    font-family: sans-serif;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player{
    max-width: 868px;
    min-width: 320px;
    background-image: linear-gradient(gray,black);
    border-radius: 1rem;
    padding: 2rem;
    color: white;
    box-shadow: 2px 2px 3px black;
}

.title{
    margin-top: 0;
    text-align: center;
}

.cover{
    width: 128px;
    height: auto;
    border-radius: .3rem;
    display: block;
    margin: 0 auto 1rem auto;
}

.barra-container{
    height: .6rem;
    background-color: lightgray;
    margin-bottom: 1rem;
}

.progeso{
    background-color: goldenrod;
    width: 0%;
    height: 100%;
}

.controles{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;

}

.controles button{
   background-color: transparent;
   border:none;
}

.controles i{
    color: white;
    font-size: 1.7rem;

}

.lista-canciones{
    margin: 0;
    padding: 0;
    list-style: none;
}

.lista-canciones a {
    color: rgb(87, 82, 82);
    text-decoration: none;
}

.lista-canciones a.active{
color: white;
font-weight: bold;
}